<a href="https://colab.research.google.com/github/Rupesh-Kataria/Data-Science-By-CodeBasics/blob/main/Part3_Pandas_Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/pandas/2_dataframe_basics/weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
rows,columns=df.shape   #to get rows and columns we use tuple
rows

6

In [ ]:
df.tail() #it give last 5 rows

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
df.tail(2) #it print last 2 row if we write 1 in place of 2 then it print last 1 rows,

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
df[2:5]  #it give row from index 2 to index 4 excluding 5 taking 1st rows at 0th index

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [ ]:
df[:]  #if we want to print entire row we can also use this df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
df.columns #to print entire column heading

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [ ]:
df.day  #to print column day we can also use df['day] both are same

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [ ]:
type(df['event'])  #column in your dataframe are basically of pandas data series

pandas.core.series.Series

In [ ]:
df[['event','day']] #whenever we want to  print any  require columns

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [ ]:
df['temperature'].min()

24

In [ ]:
df.describe() #it is used to print statics of our column

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [ ]:
df[df.temperature>=32]  #give me all the rows in my dataframe in which my temperature is >=32

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [ ]:
df[df.temperature==df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [ ]:
df[['day','temperature']][df.temperature==df['temperature'].max()] #if we want two columns that is of data and temperature at which temperature is maximum

        day  temperature
1  1/2/2017           35

In [ ]:
df.index    #the index start from 0 and end before 6

RangeIndex(start=0, stop=6, step=1)

In [ ]:
df.set_index('day')  #now the index is change to day  Note it give the new dataframe it does not modify the original data frame . So we cannot access the day index in df,So to modify the original we use inplace ='True'

df.set_index('day',inplace=True)

In [ ]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [ ]:
df.loc['1/3/2017']

temperature      28
windspeed         2
event          Snow
Name: 1/3/2017, dtype: object

In [ ]:
df.reset_index(inplace=True)  #if we want to reset the index to the original to one
df

   event       day  temperature  windspeed
0   Rain  1/1/2017           32          6
1  Sunny  1/2/2017           35          7
2   Snow  1/3/2017           28          2
3   Snow  1/4/2017           24          7
4   Rain  1/5/2017           32          4
5  Sunny  1/6/2017           31          2

In [ ]:
df.set_index('event',inplace=True)

In [ ]:
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [ ]:
df.loc['Snow']   #if we want to print the row using snow as index

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7